@model ContosoUniversityMaar.Models.InstructorIndexData

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>hi guys hi guys hey guys hi guys  guys 👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽👽</p>
<p>there 👽 here👽👽👽👽👽</p>

<p>
    <a asp-action="Create">Construct a new instructor</a>
</p>

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Hire Date</th>
                <th>Office</th>
                <th>Courses</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Instructors)
            {
                string selectedRow = "";
                if (item.ID == (int?)ViewData["InstructorID"])
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        @if (item.OfficeAssignment != null)
                        {
                            @item.OfficeAssignment.Location
                        }
                    </td>
                    <td>
                        @{
                            foreach (var courses in item.CourseAssignments)
                            {
                                @courses.Course.CourseId @: @courses.Course.Title <br />
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Courses != null)
    {
        <h3>Courses taught by the selected instructor:</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Number</th>
                <th>Title</th>
                <th>Department</th>
            </tr>
            @foreach (var item in Model.Courses)
            {
                string selectedRow = "";
                if (item.CourseId == (int?)ViewData["CourseID"])
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "Index", new{courseID = item.CourseId})
                    </td>
                    <td>
                        @item.CourseId
                    </td>
                    <td>
                        @item.Department.Name
                    </td>
                </tr>
            }
        </table>
    }
    @if (Model.Enrollments != null)
    {
        <h3>Students enrolled in the selected course:</h3>
        <table class="table">
            <tr>Name</tr>
            <tr>Grade</tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>@item.Student.FullName</td>
                    <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                </tr>
            }
        </table>
    }
</div>